<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p> Times Visited: {{session['times_visited']}}</p>
    <p> Buttons Clicked: {{session['clicks']}}</p>
    

    <form action="/destroy_session" method="get">
        <button type="submit"> Clear this session </button>
    </form>
    <form action="/increase_by_two" method="get">
        <button type="submit"> Increase By Two </button>
    </form>
    <form action="/increase_by_what" method="post">
        <label for="amount">Amount</label>
        <select name="amount">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <button type="submit"> Increase by This Amount </button>
    </form>
    <style>
        body {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
</body>
</html>